.container-fluid{
	.row{
		.panel{
			padding: 0px;
			align-items:center;
			display: flex;
			flex: 1;
    		flex-direction: column;
    		justify-content: center;
    		height: 80vh;
    		font-weight: bold;
    		color: #fff;
    		transition:font-size 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11),
    			flex 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11),
    			background 0.2s;
    		p{
    			flex: 1;
    			display: flex;
    			align-items:center;
    			justify-content:center;
    			transition: transform 2s;
    		}
    		p:nth-child(1){
    			transform:translateY(-100%);
    		}
    		p:nth-child(2){
    			font-size: 4em;
    		}
    		p:nth-child(3){
    			transform:translateY(100%);
    		}
		}
		.open-active{
			p:nth-child(1){
				transform:translateY(0);
			}
			p:nth-child(3){
				transform:translateY(0);
			}
		}
		.open{
			flex: 5;
			font-size: 40px;
		}
		.panel1{
			background:url(../img/1.png)center center no-repeat;
			background-size: cover;
		}
		.panel2{
			background:orange;
			background:url(../img/2.jpg)center center no-repeat;
			background-size: cover;
		}
		.panel3{
			background:teal;
			background:url(../img/3.png)center center no-repeat;
			background-size: cover;
		}
		.panel4{
			background:gray;
			background:url(../img/3.png)center center no-repeat;
			background-size: cover;
		}
		.panel5{
			background:purple;
			background:url(../img/1.jpg)center center no-repeat;
			background-size: cover;
		}
	}
}
.principal{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	.row{
		.image{
			img{
				width: 100%;
				height: 70vh;
			}
		}
		.content{
			padding: 0;
			.wrap{
				margin: 70px 200px 70px 50px ;
				h5{
					font-size: 13px;
					text-transform: uppercase;
					font-weight: bold;
					opacity: .5;
					padding-left: 25px;
					position: relative;
					@extend %fa-icon;
					@extend .fab;
					&:before {
					   content: fa-content(\f005);
					   font-family: FontAwesome;
					   position: absolute;
					   top: 0;
					   left: 0;
					   color: $red;

					  }
					&:after {
						content: fa-content(\f005);
					   	font-family: FontAwesome;
					   	position: absolute;
					   	top: 0;
					   	color: $red;
						right: -20px;
					}
				}
				h2{
					font-size: 30px;
					opacity: .8;
					text-transform: uppercase;
				}
				button{
					color: green;
					border: 2px solid green;
					border-radius: 5px;
				}	
			}
			
		}
	}
}